.container {
  display: flex;
  gap: 10px;
  width: 90vw;
  height: 75vh;
}

.panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  height: 100%;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel.active {
  flex: 2.5;
}

.panel.active > .label {
  opacity: 1;
}

.label {
  bottom: 40px;
  left: 20px;
  margin: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s 0.4s ease-in;
}

@media screen and (max-width: 680px) {
  .container {
    flex-direction: column;
  }

  .panel {
    background-size: cover;
    flex: 0.4;
  }

  .panel.active {
    flex: 1.5;
  }
}
